<div class="top">
  <div style="text-align: center">
    <label class="appName">My Restra Finder</label>
  </div>
  <div class="menu">
  <select class="selectBox" [(ngModel)]="selectedLocation" (ngModelChange)="selectLocation($event)">
      <option [value]=null>Select</option>
    <option *ngFor="let loc of locations" >{{loc}}</option>
  </select>
  <label *ngIf="currLocation" class="locationBox">{{currLocation}}</label>
  <button class="autoSelect" (click)="getLocation()">Let Us Detect</button>
  
  
</div>
</div>