<div class="top">
  <div style="text-align: center">
    <label class="appName">My Restra Finder</label>
  </div>
  <div class="menu">
      <label class="tex">Location: </label>
  <select class="selectBox" name="locDropDown" [(ngModel)]="selectedLocation" (ngModelChange)="selectLocation($event)">
    <!-- <option [ngValue]="null">Select Manually</option> -->
    <option *ngFor="let loc of locations" [ngValue]="loc">{{loc}}</option>
  </select>
  <label *ngIf="!currLocation" class="tex"> OR </label>
  <label *ngIf="currLocation" class="locationBox">{{currLocation}}</label>
  <button class="autoSelect" (click)="getLocation()">Let Us Detect</button>
  
  
</div>
</div>