<div class="revSection"> 
        <div class="flex-container ">
            <div>
                <img class="userImg" src={{review.user.profile_image}} alt="{{review.user.name}}">
            </div>
            <div class="revDetails">
                <span class="userName">{{review.user.name}}</span> rates it as <span
                    class="usrRatingText">{{review.rating_text}}</span>
                <p class="userReviewText">{{review.review_text}}</p>
            </div>
        </div>

    </div>
