<div>
    <div class="flex-container restDetails">
        <img class="featuredImage" src={{rd.featured_image}} alt={{rd.name}}>
        <article>

            <div class="restName">{{rd.name}}</div><br>
            <div>
                <span class="restDet">Contact No. </span>{{rd.phone_numbers}}<br>
                <span class="restDet">Location: </span>{{rd.location.address}}<br>
                <span class="restDet">Cuisines: </span>{{rd.cuisines}}<br>
                <span class="restDet">Timing: </span>{{rd.timings}}<br>
                <span class="restDet">Average Cost for Two: </span>Rs.{{rd.average_cost_for_two}}
            </div>
        </article>
    </div>
    <div class="headerText">User Photos</div>
    <div class="flex-container imageBox">

        <span *ngFor="let img of rd.photos">
            <img class="resImages" src={{img.photo.url}}>
        </span>

    </div>
    <div class="headerText">User Reviews</div>
    <div>
        <div>
            <app-user-review *ngFor="let review of rd.all_reviews.reviews"
            [review]=review.review>

            </app-user-review>
        </div>
        <!-- <div class="revSection" *ngFor="let review of rd.all_reviews.reviews">
            <div class="flex-container ">
                <div>
                    <img class="userImg" src={{review.review.user.profile_image}} alt="{{review.review.user.name}}">
                </div>
                <div class="revDetails">
                    <span class="userName">{{review.review.user.name}}</span> rates it as <span
                        class="usrRatingText">{{review.review.rating_text}}</span>
                    <p class="userReviewText">{{review.review.review_text}}</p>
                </div>
            </div>

        </div> -->
    </div>
</div>