.flex-container{
    display: flex;
    
}
.featuredImage{
    height: 10em;
    width: 15em;
    border-radius: 5%;
    margin: 1%;
}
.userImg{
    border-radius: 80px;
    border: 1px solid grey;
    height: 4em;
    width: 4em;
    margin: 13% 19%;
}
.usrRatingText{
    color: #b10404;
    font-weight: bold;
    font-family: cursive;
}
.userName{
    color: #480048;
    font-weight: bold;
}
.userReviewText{
    font-family: calibri;
    color: grey;
}
.restName{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #e03131;
}
.revDetails{
    /* margin: 1%; */
    padding: 2%;
    margin-left: 2%;
}
.revSection{
    border: 1px solid #97979c;
    border-radius: 3px;
    margin: 2%;
    background-color: #eef4f7;
}
.restDetails{
    margin: 2%;
    padding: 1%;
    background-color: #fbf9d5;
    border: 1px solid #97979c;
    
}
.resImages{
    height: 10em;
    width: 15em;
    padding: 1%;
    border-radius: 5%;

}
.headerText{
    margin: 2%;
    font-size: larger;
    font-weight: bold;
    color: #474848;
    text-align: center;
}
.imageBox{
    margin: 2%;
    padding: 1%;
    background-color: #eef4f7;
    border: 1px solid #97979c;
    overflow-x: scroll;
}